.sidebar{
    width:44.5%
}

.content{
    width:55.5%
}

.footer text {
    display: block;
}
.form-control, .form-select {
    background-color: white!important;
}
small.opacity-55:first-child {
    font-size: 1em;
}

.login-wrapper h4 {
    margin: 0;
    font-weight: 400;
}
.form-label.small {
    font-size: 0.88rem;
}

.demo-item:hover {
    background-color: var(--bs-secondary-bg);
    cursor: pointer;
}

.btn-copy:hover i {
    color: var(--bs-primary) !important;
}

.btn-copy i.copied {
    color: var(--bs-success);
}

small.text-secondary.container-fluid.mt-6 {
    text-align: center;
    display: block;
}

.login-wrapper {
    width: 100%;
    max-width: 30rem;
}